/* sub2_1.css */
/* 서브배너 */
#visual {
    background-image: url(../image/sub_banner1.jpg);
    height: 500px;
}
#visual p {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin-top: 200px;
    text-shadow: 2px 2px 2px #000;
}


/* lnb 영역 */
#lnb {
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}
#lnb > ul > li > a {
    float: left;
    width: calc(1200px / 6);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px 0 20px 0;
}
#lnb > ul > li > .accent {
    background-color: #203053;
    color: white!important;
    /* outline: 1px solid red; */
}


/* breadscrumb */
div.location > span {
    width: 1200px;
    margin-bottom: 50px;
    display: inline-block;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* 메인 */
#main > .slider > img {
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid red;
}
#main {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
  }

.sub_txt {
    font-size: 18px;
    margin-top: 30px;
}

section {
    text-align: center;
}